<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>templates</title>
</head>
<body>
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 595.3 841.9" style="enable-background:new 0 0 595.3 841.9;" xml:space="preserve">
<style type="text/css">
	.st0{font-family:'MyriadPro-Regular';}
    .st1{font-size:12px;}
    .st2{font-family:'Arial-BoldMT';}
    .st3{fill:none;stroke:#272525;stroke-width:2;stroke-miterlimit:10;}
</style>
<g id="logo">
    <image style="overflow:visible;" width="1884" height="855" id="Layer_0" xlink:href="B7DB0284260F8365.png"  transform="matrix(6.249864e-02 0 0 6.249864e-02 31.0639 31.9182)">
	</image>
</g>
<text id="XMLID_2_" transform="matrix(1 0 0 1 420 54)" class="st0 st1">informations client</text>
<text id="XMLID_3_" transform="matrix(1 0 0 1 31.0639 270)" class="st2 st1">Numéro de facture</text>
<text id="XMLID_4_" transform="matrix(1 0 0 1 32 317)" class="st0 st1">Description</text>
<rect id="tableau" x="89.9" y="395.6" class="st3" width="409.1" height="288"/>
</svg>
</body>
</html>